.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f4f4f4;

  }

h2{
    color: blue;
    text-align: center;
    font-size: 35px;
  }

.ChangeButton{

  text-align: center;
  
}

input{

  float:right;
  padding:5px;
  margin-left: 5px ;
}
